<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Всплывающая подсказка по пользователям и блогам (Popup info)</lang>
	</name>
	<author>
		<lang name="default">PSNet</lang>
	</author>
	<homepage>https://github.com/psnet</homepage>
	<version>2.0.1</version>
	<requires>
		<livestreet>1.0</livestreet>
		<plugins></plugins>
	</requires>
	<description>
		<lang name="default">Show short information about user or blog in little popup window if put mouse cursor over the link.</lang>
		<lang name="russian">Показывает краткую информацию о пользователе или блоге в маленьком попап окошке при наведении указателя мыши на ссылку.</lang>
		<lang name="ukrainian">Показує коротку інформацію про користувача чи блог в маленькому попап віконці при наведенні курсора миші на посилання.</lang>
	</description>
</plugin>
